{#  -*- coding: utf-8 -*- #}

{% if alignment == 'float-left' %}
    {% set margin = '; margin-left: 10px; margin-right: 5px;' %}
    {% set image_align = '; float:left' %}
{% elif alignment == 'float-right' %}
    {% set margin = '; margin-right: 10px; margin-left: 5px;' %}
    {% set image_align = '; float:right' %}
{% elif alignment == 'left' %}
    {% set margin = '; margin-left: 10px; margin-left: 5px;' %}
    {% set image_align = 'left' %}
{% elif alignment == 'right' %}
    {% set margin = '; margin-right: 10px; margin-left: 5px;' %}
    {% set image_align = 'right' %}
{% elif alignment == 'center' %}
    {% set margin = '' %}
    {% set image_align = 'center' %}
{% endif %}
<figure class="{{ css_class }}" style="display:table; clear:both; {{ margin }} {{ image_align }}">
    {% if title %}
        <div class="figure-caption has-text-black {{ title_class }}" style="font-weight:bold">{{ title }}</div>
    {% endif %}
    {% if image_path %}
        <img class="{{ image_class }} figure-img img-fluid rounded"
             src="{{ image_path }}" alt="{{ alt }}" style="height: {{ height }}; width: {{ width }}; {{ image_align }};
                {% if has_borders %} border-style: solid; border-width: medium; border-color: #1b8dbb;
                    border-radius: 4px;{% endif %}
                {% if not has_borders %}padding: 10px;{% endif %}"/>
        {% if caption %}
            <figcaption class="{{ caption_class }}" style="font-weight:bolder; font-size:smaller">{{ caption }} </figcaption>
        {% endif %}
    {% else %}
        <h3>No path given for image</h3>
    {% endif %}
</figure>