{#  -*- coding: utf-8 -*- #}

{% if alignment == 'float-left' %}
    {% set mgn = '; margin-left: 10px' %}
{% elif alignment == 'float-right' %}
    {% set mgn = '; margin-right: 10px' %}
    {% else %}
    {% set mgn = '' %}
{%  endif %}
<div class="{{ css_class }} {{ mgn }}">
    {% if title %}
        <div class="figure-caption has-text-black {{ title_class }}">{{ title }}</div>
    {% endif %}
        <div class="figure {{ alignment }}
        {% if has_borders %}
            sst_border
        {% endif %}" style="width:{{border_width}}; height:{{border_height}}; margin:auto">
            <img class="{{ image_class }} figure-img img-fluid rounded"
             src="{{ image_path }}" style="height: {{ height }}; width: {{ width }};"/>
             {% if caption %}
                <div class="caption_class">{{ caption }} </div>
              {% endif %}
        </div>
</div>