/* Custom CSS for SsT */

/* Border for thumbnails */
.imgBorder {
    padding: 3px;
    background-color: white;
    border-color: #666;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    min-width: 200px;
    min-height: 100px;
    text-align: center;
}
.imgClickHere {
    font-size: 50%;
    font-weight: bold;
    background-color: white;
    text-align: right;
}
.imgThumbTitle {
    font-size: 80%;
    font-weight: bold;
    background-color: white;
    text-align: center;
}