<div class="{{ quote_whole }}" style="{{ quote_style }}">
    <div style="{{ quote_text_style }}">{{ quote }} </div>
    {% if author %}
        <div style="{{ author_style }}">--- {{ author }} </div>
    {% endif %}
</div>