{#  -*- coding: utf-8 -*- #}
<div class="container">
    {% if entry_type == 'story_snippet' %}
        {% if title is defined %}
            <h2 class="blog-title"> {{ title }}</h2>
        {% endif %}
        {% if byline is defined %}
            <div class="sstByline"> Written By: {{ byline }}</div>
        {% endif %}
        {% if photos is defined %}
            <div class="sstByline"> Photos By: {{ photos }}</div>
        {% endif %}
        <div class="col-sm-7">
            <div class="src-flex-item src-grow-3">
                {{ content }}
            </div>
            {% if read_more is defined %}
                <a class="btn btn-primary" href="{{ read_more }}" role="button">Read More</a>
            {% endif %}
        </div>
    {% endif %}
</div>
