{#  -*- coding: utf-8 -*- #}

{% if post %}
<p>
    {{ post.text() }}
</p>
{% endif %}
<ol>
{% for item in items %}
    <li><a href="{{ item.slug }}"> {{ item.title }} <span style="font-size: small; color:black"> [{{ item.date }}] </span></a></li>
{% endfor %}
</ol>