{#  -*- coding: utf-8 -*- #}
<h2>Photo Related Information</h2>

<button type="button" onclick="location.href='/pages/admin/pages_to_photos'">Map Pages to Photos</button>

<button type="button" onclick="location.href='/pages/admin/images_photos'">Images Directory Photo Thumbs</button>

<button type="button" onclick="location.href='/pages/admin/galleries_photos'">Galleries Directory Photo Thumbs</button>

<h2>Data on Usage of Photos</h2>
<h3>Counts</h3>
<table>
    <thead>
    <th>Data Name</th>
    <th>Count</th>
    </thead>
    <tbody>
    <tr>
        <td>Total Number of Images</td>
        <td>
        {{ count_all_images }}</tr>
    <tr>
        <td>Number of Unused Images</td>
        <td>{{ count_unused_images }}</td>
    </tr>
    <tr>
        <td>Number of Unique Image Names</td>
        <td>{{ count_unique_image_names }}</td>
    </tr>
    <tr>
        <td>Number of Singlepic Images</td>
        <td>{{ count_images_used_as_singlepic }}</td>
    </tr>
    <tr>
        <td>Number of Gallery Images</td>
        <td>{{ count_gallery_images }}</td>
    </tr>
    <tr>
        <td>Total Number of Galleries</td>
        <td>{{ count_galleries }}</td>
    </tr>
    <tr>
        <td>Number of Unused Galleries</td>
        <td>{{ count_unused_galleries }}</td>
    </tr>
    </tbody>
</table>


{% if unused_galleries is defined %}
    <h3>Unused Galleries</h3>
    <ol>
        {% for gal in unused_galleries %}
            <li>{{ gal }}</li>
        {% endfor %}
    </ol>
{% endif %}

{% if unused_images is defined %}
    <h3>Unused Images</h3>
    <ol>
        {% for img in unused_images %}
            <li>{{ img }}</li>
        {% endfor %}
    </ol>
{% endif %}
