{#  -*- coding: utf-8 -*- #}
<h2>Display all photos in {{ folder }} directory</h2>
{% set btn_index = namespace(value=0) %}
{% for key, elem in display_list | dictsort %}
    <hr>
    <hr>
    <h3>{{ display_list[key][0]['folder'] }}</h3>
    <div class="container" style="display:flex; flex-wrap: wrap">
        {% for image in display_list[key] %}
            <div style="vertical-align: top; margin-bottom: 20px;">
                <div style="font-size: small; max-width: 140px;">{{ image.file }}</div>
                <a href="{{ image.path }}" target="_blank">
                    <img src="{{ image.path }}" class="img-thumbnail" style="width: 150px;"></a><br>
                {% set bid = ["bttn", btn_index.value | string] | join('') %}
                {% set btn_index.value = btn_index.value + 1 %}
                <div class="copyclip">
                    <scan style="display:none">{{ image.path }}</scan>
                    <button id="{{ bid }}" class="photofilebttn">copy</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

